@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');


*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
h1 {
    font-size: 28px;
    text-align: center;
    color: rgb(184, 158, 113);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: .5;
}
img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}
.wrapper {
    margin: auto;
    width: 100vw;
    padding: 0 80px;
}
.sp {
    display: none;
}

header {
    position: fixed;
    font-family: "Yu Mincho";
    top: 0px;
    width: 100%;
    padding: 0 30px;
    transition: all .3s ease;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #EEEEEE;
    z-index: 1000;
}
header>div {
    margin: auto;
    max-width: 1140px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header > div .header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
    font-size: 28px;
    font-weight: 600;
    color: #CEAC6A;
    width: max-content;
}
.menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
}
.menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-btn span {
    width: 42px;
    height: 4px;
    border-radius: 10px;
    background-color: #707070;
    margin: 5px 0;
    transition: all .3s ease;
}
.menu-btn span:nth-child(2) {
    width: 30px;
    margin-left: -10px;
}
.menu-open span:nth-child(1) {
    transform: rotate(135deg) translate(9px, -7px);
}
.menu-open span:nth-child(2) {
    width: 0px;
    opacity: 0;
    background-color: white;
}
.menu-open span:nth-child(3) {
    transform: rotate(-135deg) translate(12px, 12px);
}
.menu {
    position: fixed;
    color: #666;
    background-color: white;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    padding: 0 15px;
    padding-top: 110px;
    overflow-y: auto;
    backdrop-filter: blur(3px);
    font-size: 17px;
    transform: translateY(-30%);
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
    box-shadow: 0 0 10px black;
}
.menu-main-open {
    transform: translateY(0) !important;
    opacity: 1 !important;
    z-index: 10 !important;
}
.menu-title {
    padding-top: 30px;
    font-weight: 600;
    color: #CEAC6A;
    border-bottom: 1px solid gray;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 20px;
}
.menu a {
    position: relative;
    transition: all .3s ease;
}
.iron-footer-v1 {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.iron-footer-v1 .iron-footer-top {
    background-color: #f8f8f8;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.MuiTabs-root {
    display: flex;
    overflow: hidden;
    min-height: 48px;
    -webkit-overflow-scrolling: touch;
}
.MuiTabs-fixed {
    width: 100%;
    overflow-x: hidden;
}
.MuiTabs-scroller {
    flex: 1 1 auto;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.MuiTabs-flexContainer {
    display: flex;
}
.jss212 {
    padding: 0px 0px;
    min-width: 33%;
}
.MuiTab-labelIcon {
    min-height: 72px;
    padding-top: 9px;
}
.MuiTab-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
    margin-bottom: 6px;
}
.MuiSvgIcon-fontSizeLarge {
    font-size: 2.1875rem;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}


/* ===================================================== */

.container {
    padding: 15px;
    margin: auto;
    width: 1140px;
    padding: 100px 15px 80px;
    display: flex;
    flex-direction: column;
}


.container p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
}

.custom-field {
  position: relative;
  width: 100%;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.custom-field .error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px;
}
.custom-field .error-message:empty {
  opacity: 0;
}

.selectbox .placeholder {
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 0;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 4px;
  width: fit-content;
}
/* 
.select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -0.5em;
  pointer-events: none;
} */

.confirm-btn {
    width: 70%;
    line-height: 3;
    color: white;
    background-color: #CEAC6A;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}

.require {
  font-size: 14px;
  color: red;
}
.select {
  font-size: 14px;
  color: blue;
}
.container > div input {
  padding: 12px;
}
.container .single-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .single-line.no-between {
  justify-content: flex-start;
}
.container .single-line input {
  width: 48%;
}
.container .one-item input {
  width: 100%;
}
.single-radio {
  display: flex;
  align-items: center;
  width: 80px;
  margin-right: 20px;
}
hr {
  margin-top: 20px;
  border-color: #CEAC6A;
}

.camera {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  background-color: #b89e71;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  margin-left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-position: center;
  background-size: cover;
  border: solid 4px #C4C4C4;
}
.custom-field select {
  width: 100%;
  padding: 12px;
}

.remark {
  font-size: 14px;
}






@media (max-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 920px;
    }    
}
@media (max-width: 767px) {
  .container {
      width: 720px;
  }
  header {
    padding: 0 15px;
  }
  header > div .header-title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
    .container {
        width: 540px;
    }    
}

